div class="container"
  div class="col-md-3"
  div class="well col-md-6"
    =form_for @spigot, action: "create", html: {class:"form-horizontal"} do |s|
      legend Register a New Spigot
      div class="form-group"
        =s.label :name, "Name: ", class: "col-lg-4 control-label"
        =s.text_field :name, class: "col-lg-5"
      div class="form-group"
        =s.label :ip, "IP Address:", class: "col-lg-4 control-label"
        =s.text_field :ip, class: "col-lg-5"
      div class="form-group"
        =s.label :street_address, "Street Address: ", class: "col-lg-4 control-label"
        =s.text_field :street_address, class: "col-lg-5"
      div class="form-group"
        =s.label :city, "City: ", class: "col-lg-4 control-label"
        =s.text_field :city, class: "col-lg-5"
      div class="form-group"
        =s.label :state, "State: ", class: "col-lg-4 control-label"
        =s.text_field :state, class: "col-lg-5"
      div class="form-group"
        =s.label :country, "Country: ", class: "col-lg-4 control-label"
        =s.text_field :country, class: "col-lg-5"
      div class="form-group"
        =s.label :zipcode, "Zipcode: ", class: "col-lg-4 control-label"
        =s.text_field :zipcode, class: "col-lg-5"
      div class="form-group"
        =s.label :timezone, "Time Zone", class: "col-lg-4 control-label"
        =s.time_zone_select :timezone
      div class="form-group"
        =s.label :threshold, "Rain Threshold:", class: "col-lg-4 control-label"
        =s.text_field :threshold
      =s.submit class:"btn btn-success"
  div class='col-md-3'