=form_for @spigot, action: "create" do |s|
  =s.label :name
  =s.text_field :name
  =s.label :isp
  =s.text_field :isp
  =s.label :location
  =s.text_field :name
  =s.label :zipcode
  =s.text_field :zipcode
  =s.submit