=form_for @spigot, action: "create", html: {class:"form"} do |s|
  div class="form-group"
    =s.label :name, "Name: "
    =s.text_field :name
  div class="form-group"
    =s.label :ip
    =s.text_field :ip
  div class="form-group"
    =s.label :location, "Nickname: "
    =s.text_field :name
  div class="form-group"
    =s.label :street_address, "Street Address: "
    =s.text_field :street_address
  div class="form-group"
    =s.label :city, "City: "
    =s.text_field :city
  div class="form-group"
    =s.label :state, "State: "
    =s.text_field :state
  div class="form-group"
    =s.label :country, "Country: "
    =s.text_field :country
  div class="form-group"
    =s.label :zipcode, "Zipcode: "
    =s.text_field :zipcode
  =s.submit