h2 Create a new Watering

=form_for @watering, url: spigot_waterings_path, html: {class: "form"} do |w|
  div class= "form-group"
    =w.label :start_time
    =w.time_select :start_time, ampm:true
  div class= "form-group"
    =w.label :end_time
    =w.time_select :end_time, ampm:true
  -days = %w(monday tuesday wednesday thursday friday saturday sunday)
  -days.each do |d|
    div class="form-group"
      =w.label d.to_sym
      =w.check_box d.to_sym, {}, "true", "false"
  =w.submit "Submit", class: 'btn btn-primary'
